/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/.env
/.env.backup
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/auth.json
/npm-debug.log
/yarn-error.log
/.idea
/.vscode

/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
